@font-face {
    font-family: 'Omori1';
    src: url(./assets//fonts/OMORI_GAME2.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Omori1';
    font-size: 2rem;
    color: var(--main-text-color);
}

:root {
    --main-bg-color: #f0f0f0;
    --main-button-color: unset;
    --main-text-color: #333333;
    --dark-text-color: white;
    --dark-bg-color: black;
    --dark-button-color: black;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 100%;
    height: 100vh;
    z-index: 99;
    clip-path: circle(0% at 50% 50%);
}


.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg-color);

}


.main-title {
    margin: 20px;
}

.box {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border: 1px black solid;
}

#video {
    height: 360px;
    width: 640px;
    border: 1px solid black;
}



.screen-video {
    width: 500px;
    height: 300px;
}

.buttons {
    display: flex;
    justify-content: center;
    height: 20px;
    width: 100%;
    align-items: center;
    gap: 200px;
    margin: 50px;

}

.button-load {
    display: flex;
    align-items: center;
    border: none;
    height: 0;
    cursor: pointer;

}

.random-box {
    height: 64px;
    width: 64px;
}

#changeTheme {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    height: 0;
}

.dark-theme {
    background-color: var(--dark-bg-color);

}

.dark-text {
    color: var(--dark-text-color);
}

@media screen and (min-width: 0px) and (max-width:700px) {
    #video {
        width: 300px;
    }
}


@keyframes circleIn {
    from {
        clip-path: circle(0% at 50% 68%);
    }

    to {
        clip-path: circle(150%);
    }
}

@keyframes circleOut {
    from {
        clip-path: circle(150%);
    }

    to {
        clip-path: circle(0% at 50% 68%);
    }
}



@keyframes colorChange {
    from {
        color: black;
        border-color: white;
    }

    to {
        color: white;
        border-color: black;
    }
}